@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

span,
a {
  display: inline-block;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  /* margin-bottom: 500px; */
}
.container {
  max-width: 1280px;
  margin-inline: auto;
}
.swiper-navigation-icon {
  color: white;
  width: 24px !important;
  height: 24px !important;
  font-weight: bold;
}
.swiper-button-prev,
.swiper-button-next {
  background: hsla(0, 0%, 7%, 0.45);
  background: rgba(var(--ipt-baseAlt-shade3-rgb), 0.45);
  border-color: hsla(0, 0%, 100%, 0.7);
  border-color: rgba(var(--ipt-on-baseAlt-rgb), 0.7);
  border-width: 1px;
  transition: all 0.25s ease-out;
  top: 50%;
  padding: 0.75rem 0.25rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.swiper-button-prev,
.swiper-button-next {
  border-color: white;
}
