.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: start;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: #121212;
  padding: 4px 0;
}
.logo-img {
  margin-right: 8px;
  height: fit-content;
}
.header-box{
    display: flex;
    margin-inline: auto;
    /* justify-content: space-between; */
} 